extends ../../layouts/default.pug

block title
  if product && product.title
    title= product.title
  else
    title Chi tiết sản phẩm

block extra_css
  link(rel="stylesheet" href="/css/product-detail.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")

block extra_js
  script(src="/js/header.js")
  script(src="/js/alerts.js")
  script(src="/js/product-detail.js")

block content
  if !product
    section.product-detail-page
      .product-detail-empty
        p Không tìm thấy sản phẩm.
  else
    - const images = Array.isArray(product.images) ? product.images : []
    section.product-detail-page
      .product-detail(
        data-product-id=product.id
        data-product-slug=product.slug
      )
        .product-detail__gallery
          if images.length
            ul.product-detail__thumbs.gallery__thumbs
              each img, idx in images
                li(class=idx === 0 ? 'is-active' : '')
                  button(type="button" data-index=idx data-src=img)
                    img(src=img alt=`${product.title} - ${idx + 1}` loading="lazy")
          .product-detail__main
            img#mainImage(
              src=images.length ? images[0] : product.thumbnail
              alt=product.title
              loading="lazy"
            )

        .product-detail__info
          header.product-detail__header
            .product-detail__header-text
              if product.category
                a.product-detail__category(href=`/category/${product.categorySlug || product.category}`)
                  span= product.category
              h1.product-detail__title= product.title
            //- if product.shareUrl
            //-   a.product-detail__share(href=product.shareUrl target="_blank" rel="noopener")
            //-     span.icon 🔗
            //-     span Chia sẻ

          .product-detail__price-box
            span.product-detail__price-current= product.finalPriceText || product.priceText
            if product.priceText && product.hasDiscount
              span.product-detail__price-original= product.priceText
            if product.hasDiscount
              span.product-detail__price-discount -#{product.discountPercent}%

          if product.freeShip
            div.product-detail__freeship
              i.fa-solid.fa-truck-fast
              span Freeship toàn quốc

          if product.vouchers && product.vouchers.length
            .product-detail__voucher
              span.product-detail__voucher-label Mã giảm giá:
              ul.product-detail__voucher-list
                each voucher in product.vouchers
                  li.product-detail__voucher-badge= voucher

          if product.colors && product.colors.length
            .product-detail__section
              .product-detail__section-head
                span.product-detail__section-label Màu sắc:
                span.product-detail__section-value(data-selected-color)= (product.defaultColor && product.defaultColor.name) || product.colors[0].name
              .product-detail__swatches.swatches
                each color, idx in product.colors
                  - const colorActive = (product.defaultColor ? color.name === product.defaultColor.name : idx === 0) ? 'is-active' : ''
                  - const colorObj = color || {}
                  - const colorHex = (typeof colorObj.hex === 'string' && colorObj.hex) ? colorObj.hex : ''
                  - const hasHex = !!colorHex
                  - const rawSwatchUrl = !hasHex && typeof colorObj.swatchUrl === 'string' ? colorObj.swatchUrl : ''
                  - const safeSwatchUrl = rawSwatchUrl ? String(rawSwatchUrl).replace(/'/g, "\\'") : ''
                  - const swatchStyles = []
                  - if (hasHex) swatchStyles.push(`--swatch-color:${colorHex}`)
                  - if (safeSwatchUrl) swatchStyles.push(`--swatch-image:url('${safeSwatchUrl}')`)
                  - if (!swatchStyles.length) swatchStyles.push(`--swatch-color:#1f2937`)
                  - const swatchStyle = swatchStyles.join(';')
                  button(
                    type="button"
                    class=colorActive
                    data-color-name=color.name
                    data-color-hex=colorHex
                    data-color-swatch=safeSwatchUrl
                    style=swatchStyle
                  )
                    span.visually-hidden= color.name

          if product.sizes && product.sizes.length
            .product-detail__section
              .product-detail__section-head
                span.product-detail__section-label Kích thước:
                span.product-detail__section-value(data-selected-size)= product.defaultSize || product.sizes[0]
              .product-detail__sizes.sizes
                each size, idx in product.sizes
                  - const sizeActive = (product.defaultSize ? size === product.defaultSize : idx === 0) ? 'is-active' : ''
                  button(type="button" class=sizeActive data-size=size)= size

          .product-detail__purchase
            .product-detail__quantity
              button.qty-btn(type="button" data-action="decrease") -
              input#qty(type="number" min="1" value="1")
              button.qty-btn(type="button" data-action="increase") +
            button.btn--primary(
              type="button"
              data-action="add-to-cart"
              data-product-id=product.id
              data-product-slug=product.slug
              data-product-title=product.title
              data-product-image=(images.length ? images[0] : product.thumbnail)
              data-product-price=product.priceForCart
            )
              span.icon 🛒
              span Thêm vào giỏ

          if product.description
            details.product-detail__description
              summary Mô tả sản phẩm
              != product.description
